body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 388px;
}

.items {
    text-align: center;
}

.text {
    padding-bottom: 200px;
}
.button {
    background-color: blue;
    color: brown;
    width: 388px;
    height: 60px;

}
