body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    padding: 2vw; /* Используем vw для отзывчивости */
    max-width: 90%; /* Ограничиваем ширину контейнера */
}

h1 {
    font-size: 5vw; /* Размер заголовка в vw */
    margin-bottom: 2vw;
}

.response-button {
    padding: 1vw 2vw; /* Используем vw для адаптивного отступа */
    font-size: 2vw; /* Размер шрифта в vw */
    border: 2px solid blue;
    background-color: white;
    color: blue;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.response-button:hover {
    background-color: blue;
    color: white;
}
